---
layout: default
---

<link rel="stylesheet" type="text/css" href="/assets/css/ctf-style.css">

<div class="header">
  <h1>Capture the Flag</h1>
  <p>Journey through CTF challenges with my write-ups.</p>
</div>

<div class="ctf-links">
  <h2>HTB_RedTeam_Fall_Huddle</h2>
  <ul>
    <li><a href="/ctf/web/ioi-savedata">Web(Hard): [IOI SaveData]</a></li>
    <li><a href="/ctf/web/predictable">Web(Hard): [Predictable]</a></li>
    <li><a href="/ctf/web/notesy">Web(Hard): [Notesy]</a></li>
    <li><a href="/ctf/web/dinvoice">Web(Medium): [dinvoice]</a></li>
    <li><a href="/ctf/web/bibliophile">Web(Medium): [Bibliophile]</a></li>
    <li><a href="/ctf/web/PotatoHealthProgram">Web(Easy): [PotatoHealthProgram]</a></li>
    <li><a href="/ctf/web/game-capsule">Web(Easy): [Game Capsule]</a></li>
    <li><a href="/ctf/reversing/untraceable">Reversing(Easy): [Untraceable]</a></li>
  </ul>
</div>

<div class="footer">
  <p>Page designed in the shadows. Welcome to the underground.</p>
</div>
