---
layout: default
---
<title>Writeups | {{site.name}}</title>

<link rel="stylesheet" type="text/css" href="/assets/css/ctf.css">

<div class="header">
  <h1>Capture the Flag</h1>
  <p>Journey through CTF challenges with my write-ups.</p>
</div>

<div class="ctf-links">
  <h2>HTB_Fall_Huddle_2024</h2>
  <ul>
    <li><a href="/certificates/fall-huddle">Certificate</a></li>
    <li><a href="/writeups/web/ioi-savedata">Web(Hard): [IOI SaveData]</a></li>
    <li><a href="/writeups/web/predictable">Web(Hard): [Predictable]</a></li>
    <li><a href="/writeups/web/notesy">Web(Hard): [Notesy]</a></li>
    <li><a href="/writeups/web/dinvoice">Web(Medium): [dinvoice]</a></li>
    <li><a href="/writeups/web/bibliophile">Web(Medium): [Bibliophile]</a></li>
    <li><a href="/writeups/web/php">Web(Easy): [PotatoHealthProgram]</a></li>
    <li><a href="/writeups/web/game-capsule">Web(Easy): [Game Capsule]</a></li>
    <li><a href="/writeups/reversing/threekeys">Reversing(Medium): [ThreeKeys]</a></li>
    <li><a href="/writeups/reversing/untraceable">Web(Easy): [Untraceable]</a></li>
  </ul>
</div>
